* {
  margin: 0px;
  padding: 0;
}
.header__conteyner {
  max-width: 1280px;
  margin: 0 auto;
}
.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.nav__list {
  display: flex;
  gap: 33px;
  list-style: none;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item {
  color: #83888f;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}
.nav__item:hover {
  color: #333d4b;
}
.gambeurger {
  display: none;
}
.nav__conteyner {
  max-width: 1280px;
  margin: 0 auto;
}
.nav__img {
  background-image: url(../images/about.us.bg.png);
  max-width: 1280px;
  height: 450px;
  margin-top: 44px;
}
.nav__content {
  display: flex;
  flex-direction: column;
  padding-left: 85px;
  padding-top: 137px;
  gap: 24px;
}
.nav__title {
  color: #fefcf7;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}
.nav__text {
  color: #fefcf7;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 445px;
}
.section__conteyner {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  display: flex;
  justify-content: space-around;
  padding-top: 168px;
}
.section__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 80px;
}
.section__title {
  color: #333d4b;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}
.section__text {
  color: #333d4b;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 540px;
  height: 260px;
  opacity: 0.800000011920929;
}
.section__img {
  border-radius: 10px;
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .header__conteyner {
    padding: 0 40px;
  }
  .gambeurger {
    display: none;
  }
  .nav__conteyner {
    padding: 0 40px;
  }
  .nav__img {
    background-image: url(../images/about-2.png);
    max-width: 689px;
    height: 400px;
    border-radius: 10px;
  }
  .nav__text {
    opacity: 0.800000011920929;
  }
  .nav__content {
    padding-left: 58px;
  }
  .nav__content {
    padding-top: 118px;
  }
  .section__img {
    max-width: 300px;
    height: 540px;
  }
  .section__title {
    font-size: 30px;
  }
  .section__text{
    font-size: 15px;
    max-width: 339px;
  }
  .section__info{
    padding-top: 20px;
  }
}



@media only screen and (max-width: 600px) {
  .header__conteyner {
    padding: 0 24px;
  }
  .nav {
    display: none;
  }
  .gambeurger {
    display: flex;
    max-width: 16px;
    height: 15px;
  }
  .header__gamberger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__conteyner {
    padding: 0 24px;
  }
  .nav__img {
    background-image: url(../images/about-3.png);
    max-width: 328px;
    height: 400px;
    border-radius: 8px;
  }
  .logo {
    max-width: 163px;
    height: 18px;
  }
  .nav__content {
    text-align: center;
    padding-right: 56px;
    padding-top: 70px;
  }
  .nav__title {
    max-width: 279px;
  }
  .nav__text {
    max-width: 279px;
    opacity: 0.800000011920929;
    text-align: center;
  }
  .section__conteyner{
    padding: 0 24px;
  }
  .section{
    display: block;
  }
  .section__img{
    max-width: 327px;
    height: 450px;
  }
  .section__title{
    font-size: 30px;
  }
  .section__text{
    font-size: 15px;
    max-width: 327px;
    text-align: center;
  }
  .section__info{
    text-align: center;
  }
}
