.header__contayner {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.nav__list {
  display: flex;
  font-family: "Barlow", sans-serif;
  margin-top: 16px;
  gap: 32px;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.nav__list2 {
  display: flex;
  font-family: "Barlow", sans-serif;
  margin-top: 16px;
  gap: 32px;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.nav__item:hover {
  color: #333d4b;
  cursor: pointer;
}
a {
  font-family: "Barlow", sans-serif;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
}

@media only screen and (min-width:1001px){
 .header__menu{
  display: none;
 }
}

@media only screen and (min-width: 601px) and (max-width:1000px) {
  .header__contayner{
    padding: 0 40px;
    
    .nav__list{
      margin-right: 200px;
    }
  }
   .header__menu{
    display: none;
   }
}


@media only screen and (max-width:600px){
  .header__logo{
    width: 163px;
  }
  .header__menu{
    width: 16px;
    height: 15px;
    margin-right: 805px;
    margin-top: 10px;
  }
  .nav__list1{
    display: none;
  }
  .header__contayner{
    padding: 0 24px;
}
}