.header__contayner {
  max-width: 1280px;
  margin: 0 auto;
}
.header__bg {
  display: flex;
  justify-content: space-between;
  max-width: 1433px;
  height: 120px;
  background: #2c343e;
  margin-top: 200px;
  margin-left: -119px;
}
.logo {
  max-width: 236px;
  height: 26px;
  margin-top: 48px;
}
.nav__items:hover {
  color: #fefcf7;
  cursor: pointer;
}
.header__imgs {
  margin-right: 24px;
  margin-top: 49px;
  cursor: pointer;
}
.header__img {
  padding-right: 85px;
}
.header__text {
  display: flex;
  margin-top: 48px;
}
.nav__items {
  margin-top: 42px;
}
.header__imgs:hover {
  background: #fdd6ba;
}
.navs {
  margin-right: 320px;
}
.prozrachnie {
  color: #f2f2f2;
  margin-top: 135px;
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .header__bg {
    max-width: 1035px;
    height: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .logo {
    margin-right: 80px;
  }
  .navs {
    margin-right: 80px;
    margin-top: -20px;
  }
  .header__img {
    margin-top: 20px;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .header__bg {
    max-width: 300px;
    height: 386px;
    flex-direction: column;
  }
  .header__imgs {
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .nav__list2 {
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 150px;
    text-align: center;
    margin-left: 35px;
  }
}
