.title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
    font-family: "Fraunces", serif;
    margin-top: 326px;
  }
  .bg__hr {
    display: flex;
    margin-top: 95px;
  }
  .hr {
    background: url(../images/hr.svg);
    max-width: 760px;
    height: 2px;
  }
  .oval__1 {
    background: url(../images/Oval.svg);
    max-width: 31px;
    height: 31px;
    margin-top: -14px;
  }
  
  .oval__2 {
    background: url(../images/Oval.svg);
    max-width: 31px;
    height: 31px;
    margin-left: 380px;
    margin-top: -30px;
  }
  
  .oval__3 {
    background: url(../images/Oval.svg);
    max-width: 31px;
    height: 31px;
    margin-left: 760px;
    margin-top: -31px;
  }
  
  .card__info {
    display: flex;
    margin-top: 67px;
    gap: 95px;
  }
  .card__everything {
    display: flex;
    flex-direction: column;
  }
  .card__texts {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
  }
  .card__titles {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b;
    margin-top: 38px;
    max-width: 255px;
  }
  .card__infos {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    font-family: "Barlow", sans-serif;
    max-width: 285px;
    margin-top: 42px;
  }
  .section__btn {
    background: #0e8784;
    border-radius: 6px;
    max-width: 217px;
    height: 56px;
    border: none;
    margin-top: 64px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    font-family: "Fraunces", serif;
    cursor: pointer;
  }
  .section__btn:active {
    background: #66d2cf;
  }

  @media only screen and (min-width: 601px ) and (max-width: 1000px){
    .section__conteyner{
      padding: 0 45px;
    }
    .hr{
      max-width: 530px;
    }
    .card__info{
      gap: 10px;
    }
    .oval__3{
      margin-left: 530px;
    }
    .oval__2{
      margin-left: 270px;
    }
    .card__infos{
      max-width: 217px;
    }
  }


  @media only screen and (max-width:600px){
    .bg__hr{
      display: none;
    }
    .title{
      margin-top: -20px;
      margin-top: 120px;
      margin-left: 75px;
    }
    .card__info{
      flex-direction: column;
    }
    .card__texts{
      margin-left: 110px;
    }
    .card__titles{
      font-size: 28px;
      text-align: center;
      max-width: 327px;
    }
    .card__infos{
      text-align: center;
      margin-left: 12px;
    }
    .section__btn{
      margin-left: 41px;
    }
  }